* {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  justify-content: center;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.main-logo {
  width: 25%;
}

.search-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;

}

.searchbar-input-container {
  width: 45%;
}

.searchbar-input {
  all: unset;
  height: 50px;
  width: 90%;
  border: solid lightgray;
  font-size: large;
  border-radius: 40px;
  padding-left: 3rem;
  background: url(assets/search-icon.png) no-repeat scroll 10px 10px;
  z-index: 2;
  background-size: 30px;
}

.results-container {
  border: solid lightgray;
  border-top: 0;
  overflow: scroll;
  width: 40%;
  height: 22rem;
}

.card {
  display: flex;
  border-bottom: solid lightgray;
  padding: 10px;
  margin: 10px;
}

.card-image {
  width: 100px;
  height: 100px;
  margin-right: 5px;

}

.subtitle {
  font-size: medium;
  color: gray;
}